.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .manage-doctor-editor {}

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        color: white;
        background-color: rgb(41, 240, 68);
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .more-info {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 33%;
        }

        .content-right {
            width: 66%;
        }
    }


}