.profile-doctor-container {
    .intro-doctor {
        display: flex;

        .content-left {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            width: 20%;
            height: 110px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            .up {
                font-weight: 600;
            }

            .down {
                text-align: justify;
            }
        }
    }
}